body {
  font-family: "Lato", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  font-size: 13px;
}

button {
  border-radius: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}

input:focus {
  outline: none;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: calc(1.4rem + 0.5vw);
  line-height: normal;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: calc(1rem + 0.5vw);
  line-height: normal;
  color: #353535;
}

h4 {
  font-style: normal;
  font-weight: normal;
  font-size: calc(0.8rem + 0.5vw);
  line-height: normal;
  color: #666666;
}

.main-container {
  display: grid;
  grid-auto-flow: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  grid-template: repeat(3, auto) 1fr/1fr;
}
.main-container__title {
  grid-area: 1/1/span 1/span 1;
  width: 100%;
  background: #353535;
  display: grid;
  place-items: center;
  height: calc(4rem + 0.5vw);
}
.main-container__title h1 {
  color: #ffffff;
  text-align: center;
}
.main-container__loading {
  height: 80vh;
  display: grid;
  position: absolute;
  width: 100vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  place-items: center;
}
.main-container__loading h2 {
  text-align: center;
}
.main-container__error {
  height: 80vh;
  display: grid;
  position: absolute;
  width: 100vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  place-items: center;
  row-gap: 15px;
}
.main-container__error h2 {
  -ms-flex-item-align: end;
      align-self: end;
  text-align: center;
}
.main-container__error h3 {
  -ms-flex-item-align: start;
      align-self: start;
  text-align: center;
}
.main-container__search {
  display: grid;
  grid-template: calc(3rem + .5vw) auto/1fr auto;
  align-self: start;
}
.main-container__search__input {
  grid-area: 1/1/span 1/span 1;
  height: 100%;
  border: none;
  border-bottom: 1px solid #e9e9e9;
  padding-left: calc(5rem + .5vw);
  font-size: calc(.8rem + .5vw);
}
.main-container__search__icon {
  grid-area: 1/1/span 1/span 1;
  width: calc(3rem + .5vw);
  justify-self: start;
  display: grid;
  height: 100%;
  place-items: center;
  padding-left: calc(1rem + .5vw);
}
.main-container__search__icon svg {
  width: 70%;
  height: auto;
}
.main-container__search__icon svg path {
  fill: #e9e9e9;
}
.main-container__search__button {
  grid-area: 1/2/span 1/span 1;
  height: 100%;
  background: #4099a0;
  width: calc(9rem + .5vw);
  color: #ffffff;
  font-weight: bold;
  display: none;
}
.main-container__search__button.active {
  display: block;
}
.main-container__search__toggle {
  grid-area: 2/1/span 1/span 2;
  height: 0;
  display: grid;
}
.main-container__search__toggle button {
  background: #666666;
  color: #ffffff;
  height: 100%;
}
.main-container__search__toggle.active {
  height: calc(2rem + .5vw);
}
.main-container__list {
  grid-area: 3/1/span 1/span 1;
  width: 100%;
  height: auto;
  background: #f9f9f9;
  overflow-y: scroll;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.main-container__list::-webkit-scrollbar {
  width: 15px;
  z-index: 1000;
}
.main-container__list::-webkit-scrollbar-track {
  background: #e9e9e9;
  border-radius: 0;
  width: 15px;
}
.main-container__list::-webkit-scrollbar-thumb {
  background: #353535;
  border-radius: 0;
  width: 15px;
}
.main-container__list::-webkit-scrollbar-thumb:hover {
  background: #4099a0;
}
.main-container__list__item {
  border-bottom: 1px solid #e9e9e9;
  height: calc(8rem + 0.5vw);
  display: grid;
}
.main-container__list__item:hover {
  background: #f1f1f1;
}
.main-container__list__item__label {
  display: grid;
  grid-template: 1fr/1fr 4fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  width: 100%;
  height: 100%;
  padding: calc(1.5rem + 0.5vw);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.main-container__list__item__label.active:before {
  width: 200%;
  height: 400%;
  opacity: 1;
}
.main-container__list__item__label.inactive:before {
  width: calc(8rem + 0.5vw);
  height: calc(8rem + 0.5vw);
  opacity: 0;
  -webkit-transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), width 300ms cubic-bezier(0.4, 0, 0.2, 1), height 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), width 300ms cubic-bezier(0.4, 0, 0.2, 1), height 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-container__list__item__label:before {
  width: calc(8rem + 0.5vw);
  height: calc(8rem + 0.5vw);
  border-radius: 50%;
  content: "";
  background-color: #e7ebeb;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  -webkit-transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: 1;
}
.main-container__list__item__label__details {
  display: grid;
  grid-auto-flow: row;
  row-gap: 5px;
  z-index: 2;
}
.main-container__list__item__label__avatar {
  justify-self: center;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #e9e9e9;
  width: calc(4rem + 0.5vw);
  height: calc(4rem + 0.5vw);
  overflow: hidden;
  place-items: center;
  display: grid;
  z-index: 1;
}
.main-container__list__item__label__avatar h1 {
  grid-area: 1/1/span 1/span 1;
  text-align: center;
  color: #e9e9e9;
}
.main-container__list__item__label__avatar img {
  grid-area: 1/1/span 1/span 1;
  z-index: 1;
  width: calc(4rem + 0.5vw);
  height: calc(4rem + 0.5vw);
}
.main-container__list__item__label__checkbox {
  justify-self: center;
  z-index: 2;
  width: 0;
  height: 0;
}
.main-container__list__item__label__checkbox:checked:after {
  background: #4099a0;
  background-image: url("./checkmark.svg");
  background-repeat: no-repeat;
  background-size: calc(0.8rem + 0.5vw);
  background-position: center;
}
.main-container__list__item__label__checkbox:after {
  content: "";
  position: absolute;
  width: calc(2rem + 0.5vw);
  height: calc(2rem + 0.5vw);
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #e9e9e9;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}/*# sourceMappingURL=App.css.map */