body {
  font-family: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  font-size: 13px;
}

button {
    border-radius: 0;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}

input:focus {
    outline: none;
}

$color-primary-white: #ffffff;
$color-secondary-black: #353535;
$color-tertiary-blue: #4099a0;
$color-checked-blue: #e7ebeb;
$color-list-grey: #f9f9f9;
$color-border-grey: #e9e9e9;
$color-text-grey: #666666;

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: calc(1.4rem + 0.5vw);
  line-height: normal;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: calc(1rem + 0.5vw);
  line-height: normal;
  color: $color-secondary-black;
}

h4 {
  font-style: normal;
  font-weight: normal;
  font-size: calc(0.8rem + 0.5vw);
  line-height: normal;
  color: $color-text-grey;
}

.main-container {
  display: grid;
  grid-auto-flow: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  grid-template: repeat(3, auto) 1fr / 1fr;

  &__title {
    grid-area: 1 / 1 / span 1 / span 1;
    width: 100%;
    background: $color-secondary-black;
    display: grid;
    place-items: center;
    height: calc(4rem + 0.5vw);

    h1 {
      color: $color-primary-white;
      text-align: center;
    }
  }

  &__loading {
    height: 80vh;
    display: grid;
    position: absolute;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    place-items: center;

    h2 {
        text-align: center;
    }
  }

  &__error {
    height: 80vh;
    display: grid;
    position: absolute;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    place-items: center;
    row-gap: 15px;
    

    h2 {
        align-self: end;
        text-align: center;
    }

    h3 {
        align-self: start;
        text-align: center;
    }
  }

  &__search {
    display: grid;
    grid-template: calc(3rem + .5vw) auto / 1fr auto;
    align-self: start;

    &__input {
        grid-area: 1 / 1 / span 1 / span 1;
        height: 100%;
        border: none;
        border-bottom: 1px solid $color-border-grey;
        padding-left: calc(5rem + .5vw);
        font-size: calc(.8rem + .5vw);

    }

    &__icon {
        grid-area: 1 / 1 / span 1 / span 1;
        width: calc(3rem + .5vw);
        justify-self: start;
        display: grid;
        height: 100%;
        place-items: center;
        padding-left: calc(1rem + .5vw);

        svg {
            width: 70%;
            height: auto;
        
            path {
                fill: $color-border-grey;
            }
        }
    }

    &__button {
        grid-area: 1 / 2 / span 1 / span 1;
        height: 100%;
        background: $color-tertiary-blue;
        width: calc(9rem + .5vw);
        color: $color-primary-white;
        font-weight: bold;
        display: none;

        &.active {
            display: block;
        }

    }

    &__toggle {
        grid-area: 2 / 1 / span 1 / span 2;
        height: 0;
        display: grid;


        button {
            background: $color-text-grey;
            color: $color-primary-white;
            height: 100%;
        }

        &.active {
            height: calc(2rem + .5vw);
        }
    }


  }

  &__list {
    grid-area: 3 / 1 / span 1 / span 1;
    width: 100%;
    height: auto;
    background: $color-list-grey;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 15px;
        z-index: 1000;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: $color-border-grey;
        border-radius: 0;
        width: 15px;

      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $color-secondary-black;
        border-radius: 0;
        width: 15px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $color-tertiary-blue;
      }


    &__item {
      border-bottom: 1px solid $color-border-grey;
      height: calc(8rem + 0.5vw);

      display: grid;
      &:hover {
        background: #f1f1f1;
      }

      &__label {
        display: grid;
        grid-template: 1fr / 1fr 4fr 1fr;
        align-items: center;
        column-gap: 20px;
        width: 100%;
        height: 100%;
        padding: calc(1.5rem + 0.5vw);
        cursor: pointer;
        overflow: hidden;
        position: relative;

        &.active {
          &:before {
            width: 200%;
            height: 400%;
            opacity: 1;
          }
        }

        &.inactive {
          &:before {
            width: calc(8rem + 0.5vw);
            height: calc(8rem + 0.5vw);
            opacity: 0;
            transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1),
              width 300ms cubic-bezier(0.4, 0, 0.2, 1),
              height 300ms cubic-bezier(0.4, 0, 0.2, 1);
          }
        }

        &:before {
          width: calc(8rem + 0.5vw);
          height: calc(8rem + 0.5vw);
          border-radius: 50%;
          content: "";
          background-color: $color-checked-blue;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
          opacity: 0;
          z-index: 1;
        }

        &__details {
          display: grid;
          grid-auto-flow: row;
          row-gap: 5px;
          z-index: 2;
        }

        &__avatar {
          justify-self: center;
          border-radius: 50%;
          background: $color-primary-white;
          border: 2px solid $color-border-grey;
          width: calc(4rem + 0.5vw);
          height: calc(4rem + 0.5vw);
          overflow: hidden;
          place-items: center;
          display: grid;
          z-index: 1;

          h1 {
            grid-area: 1 / 1 / span 1 / span 1;
            text-align: center;
            color: $color-border-grey;
          }

          img {
            grid-area: 1 / 1 / span 1 / span 1;
            z-index: 1;
            width: calc(4rem + 0.5vw);
            height: calc(4rem + 0.5vw);
          }
        }

        &__checkbox {
          justify-self: center;
          z-index: 2;
          width: 0;
          height: 0;

          &:checked {
            &:after {
              background: $color-tertiary-blue;
              background-image: url("./checkmark.svg");
              background-repeat: no-repeat;
              background-size: calc(0.8rem + 0.5vw);
              background-position: center;
            }
          }

          &:after {
            content: "";
            position: absolute;
            width: calc(2rem + 0.5vw);
            height: calc(2rem + 0.5vw);
            border-radius: 50%;
            background: $color-primary-white;
            border: 2px solid $color-border-grey;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
